<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="headerfiles(title)">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/Form.css}" rel="stylesheet">
<link th:href="@{'/css/'+${title}+'.css'}" rel="stylesheet">
<title th:text="${title}"></title>
</head>
<header> 

	<ul class = "default"> 
		<li><a>Autofficina Salmoni </a></li>
		<li style="float:right"><a th:href="@{'/logout'}">Logout</a></li> 
	</ul>
</header>
<body background="images/auto.jpeg">
	
	<div>
		<ul>
		
			<li><a class="navigazione" th:href="@{/vettura}">Elenco Auto</a></li>
			<li><a></a></li>
			<li><a class="navigazione" th:href="@{/meccanici}">Elenco Meccanici</a></li>
			<li><a></a></li>
			<li><a class="navigazione" th:href="@{/intervento}">Elenco interventi eseguibili</a></li>
			<li><a></a></li>
			<li><a class="navigazione" th:href="@{/prenotazione}">Calendario Prenotazioni</a></li>
			<li><a></a></li>
			<li><a class="navigazione" th:href="@{/interventoSvolto}">Elenco Interventi Svolti</a></li>
			
			</ul>
		</div>